@media (min-width: 1320px) {
  .container-fluid {
    width: 1310px;
  }
}

a {
  text-decoration: none;
}

.bg-red {
  background-color: #f72210;
}

.bg-yellow {
  background-color: #ffe400;
}

.bg-cyan {
  background-color: #c2d4d7;
}

button {
  font: 18px/30px "Roboto Condensed", sans-serif;
}

.top-nav {
  font: 600 19px/24px "Roboto Condensed", sans-serif;
}

.bottom-nav {
  font: 600 16px/16px "Roboto Condensed", sans-serif;
  color: #807f84;
}

.footer-link,
label {
  font-size: 14px;
  line-height: 15px;
}

h2,
.description {
  font: 700 16px/16px "Roboto Condensed", sans-serif;
}

h3 {
  font: 24px/24px "Roboto Condensed", sans-serif;
}

h4 {
  font: 900 17px/20px "Roboto Condensed", sans-serif;
}

.main-images {
  width: 100%;
}

.summary {
  font: 500 15px/20px Arial, Helvetica, sans-serif;
}

.culture-and-travel {
  font: 700 13px/20px "Roboto Condensed", sans-serif;
}
